In our second model, and after doing some research, we tried to leave the numerical data in the model instead of dropping it in order to avoid data loss in hopes the model would improve.   While the model did see significant increase in the accuracy to 51.8% with a loss of 1.23, it still fell well short of the desired threshold to consider the model successful.

In [1]:
#Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [2]:
#Import and read the dataset.
dataset_df = pd.read_csv("data/housing.csv")
dataset_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
#Identify incomplete rows
dataset_df.count()

longitude             20640
latitude              20640
housing_median_age    20640
total_rooms           20640
total_bedrooms        20433
population            20640
households            20640
median_income         20640
median_house_value    20640
ocean_proximity       20640
dtype: int64

In [4]:
#Drop all rows with missing information
dataset_df = dataset_df.dropna(how="any")
dataset_df.count()

longitude             20433
latitude              20433
housing_median_age    20433
total_rooms           20433
total_bedrooms        20433
population            20433
households            20433
median_income         20433
median_house_value    20433
ocean_proximity       20433
dtype: int64

In [5]:
#Find the minimum median_house_value for binning.
dataset_df["median_house_value"].min()

14999.0

In [6]:
#Find the maximum median_house_value for binning.
dataset_df["median_house_value"].max()

500001.0

In [8]:
#Bin the median_house_value.

#Create bin cutoffs
value_bins = [14999, 68888, 122777, 176666, 230555, 284444, 338333, 392222, 446111, 500001]

#Create bin names
value_names = ["14999-68888", "68889-122777", "122778-176666", "176667-230555", "230556-284444", "284445-338333", "338334-392222", "392223-446111", "446112-500001"]

#Slice the data and place it into bins
dataset_df["value_category"] = pd.cut(dataset_df["median_house_value"], value_bins, labels=value_names, include_lowest=True)

#View the updated dataset
dataset_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,value_category
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,446112-500001
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,338334-392222
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,338334-392222
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,338334-392222
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,338334-392222

In [9]:
#Drop original columns that were binned.
dataset_df = dataset_df.drop(columns=["median_house_value"])
dataset_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,value_category
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY,446112-500001
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY,338334-392222
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY,338334-392222
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY,338334-392222
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY,338334-392222
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,INLAND,68889-122777
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,INLAND,68889-122777
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,INLAND,68889-122777
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,INLAND,68889-122777
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,INLAND,68889-122777

In [10]:
home_values_df = pd.DataFrame(dataset_df['value_category'])
home_values_encoded_df = pd.get_dummies(home_values_df)
home_values_encoded_df.head(5)

,value_category_14999-68888,value_category_68889-122777,value_category_122778-176666,value_category_176667-230555,value_category_230556-284444,value_category_284445-338333,value_category_338334-392222,value_category_392223-446111,value_category_446112-500001
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,True,False,False

In [11]:
convert_boolean = home_values_encoded_df.select_dtypes(include=['bool']).columns
home_values_encoded_df[convert_boolean] = home_values_encoded_df[convert_boolean].astype(int)

home_values_encoded_df.head(5)

,value_category_14999-68888,value_category_68889-122777,value_category_122778-176666,value_category_176667-230555,value_category_230556-284444,value_category_284445-338333,value_category_338334-392222,value_category_392223-446111,value_category_446112-500001
0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,1,0,0

In [12]:
new_dataset_df = dataset_df.drop(columns=['value_category'])

new_dataset_df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY

In [13]:
conv_dataset_df = pd.get_dummies(new_dataset_df, columns=['ocean_proximity'])
conv_dataset_df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,False,False,False,True,False
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,False,False,False,True,False
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,False,False,False,True,False
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,False,False,False,True,False
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,False,False,False,True,False

In [14]:
conv_dataset_df = conv_dataset_df * 1
conv_dataset_df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,0,0,0,1,0

In [15]:
#Split processed data into features and target arrays
y = home_values_encoded_df.values
x = conv_dataset_df.values

#Split the processed data into training and testing datasets
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=78)

In [16]:
#Create a StandardScaler instance
scaler = StandardScaler()

#Fit the StandardScaler
x_scaler = scaler.fit(x_train)

#Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

In [34]:
nn = tf.keras.models.Sequential()

input_features = x.shape[1]

# First hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation='relu',input_dim=input_features))

# Second hidden layer
# nn.add(tf.keras.layers.Dense(units=20, activation='relu'))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=75, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=9, activation='softmax'))

# Check model structure
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_17 (Dense)            (None, 40)                560

 dense_18 (Dense)            (None, 9)                 369

=================================================================
Total params: 929 (3.63 KB)
Trainable params: 929 (3.63 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [35]:
# Compile the model
nn.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [36]:
# Train the model
train_model = nn.fit(x_train_scaled,y_train,epochs=100)

Epoch 1/100
479/479 [==============================] - 1s 1ms/step - loss: 1.7040 - accuracy: 0.3667
Epoch 2/100
479/479 [==============================] - 1s 1ms/step - loss: 1.4601 - accuracy: 0.4355
Epoch 3/100
479/479 [==============================] - 1s 1ms/step - loss: 1.4003 - accuracy: 0.4546
Epoch 4/100
479/479 [==============================] - 1s 1ms/step - loss: 1.3709 - accuracy: 0.4620
Epoch 5/100
479/479 [==============================] - 1s 2ms/step - loss: 1.3527 - accuracy: 0.4685
Epoch 6/100
479/479 [==============================] - 1s 1ms/step - loss: 1.3401 - accuracy: 0.4730
Epoch 7/100
479/479 [==============================] - 1s 1ms/step - loss: 1.3296 - accuracy: 0.4763
Epoch 8/100
479/479 [==============================] - 1s 1ms/step - loss: 1.3201 - accuracy: 0.4792
Epoch 9/100
479/479 [==============================] - 1s 1ms/step - loss: 1.3132 - accuracy: 0.4814
Epoch 10/100
479/479 [==============================] - 1s 1ms/step - loss: 1.3064 - accuracy: 0.4847
Epoch 11/100
479/479 [==============================] - 1s 1ms/step - loss: 1.3003 - accuracy: 0.4879
Epoch 12/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2960 - accuracy: 0.4883
Epoch 13/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2907 - accuracy: 0.4912
Epoch 14/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2856 - accuracy: 0.4956
Epoch 15/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2815 - accuracy: 0.4928
Epoch 16/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2777 - accuracy: 0.4972
Epoch 17/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2747 - accuracy: 0.4928
Epoch 18/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2710 - accuracy: 0.4958
Epoch 19/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2675 - accuracy: 0.4978
Epoch 20/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2641 - accuracy: 0.5001
Epoch 21/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2619 - accuracy: 0.4978
Epoch 22/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2578 - accuracy: 0.5012
Epoch 23/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2567 - accuracy: 0.5029
Epoch 24/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2539 - accuracy: 0.5027
Epoch 25/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2510 - accuracy: 0.5033
Epoch 26/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2491 - accuracy: 0.5024
Epoch 27/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2472 - accuracy: 0.5039
Epoch 28/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2457 - accuracy: 0.5048
Epoch 29/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2428 - accuracy: 0.5070
Epoch 30/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2414 - accuracy: 0.5059
Epoch 31/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2401 - accuracy: 0.5081
Epoch 32/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2379 - accuracy: 0.5063
Epoch 33/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2369 - accuracy: 0.5089
Epoch 34/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2352 - accuracy: 0.5116
Epoch 35/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2332 - accuracy: 0.5100
Epoch 36/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2318 - accuracy: 0.5114
Epoch 37/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2299 - accuracy: 0.5097
Epoch 38/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2289 - accuracy: 0.5127
Epoch 39/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2265 - accuracy: 0.5145
Epoch 40/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2266 - accuracy: 0.5146
Epoch 41/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2250 - accuracy: 0.5141
Epoch 42/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2225 - accuracy: 0.5150
Epoch 43/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2210 - accuracy: 0.5151
Epoch 44/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2200 - accuracy: 0.5195
Epoch 45/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2198 - accuracy: 0.5190
Epoch 46/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2182 - accuracy: 0.5176
Epoch 47/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2178 - accuracy: 0.5164
Epoch 48/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2162 - accuracy: 0.5180
Epoch 49/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2142 - accuracy: 0.5178
Epoch 50/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2139 - accuracy: 0.5206
Epoch 51/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2127 - accuracy: 0.5221
Epoch 52/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2127 - accuracy: 0.5192
Epoch 53/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2109 - accuracy: 0.5228
Epoch 54/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2088 - accuracy: 0.5194
Epoch 55/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2084 - accuracy: 0.5191
Epoch 56/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2077 - accuracy: 0.5216
Epoch 57/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2066 - accuracy: 0.5223
Epoch 58/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2055 - accuracy: 0.5210
Epoch 59/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2040 - accuracy: 0.5211
Epoch 60/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2032 - accuracy: 0.5232
Epoch 61/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2026 - accuracy: 0.5213
Epoch 62/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2017 - accuracy: 0.5229
Epoch 63/100
479/479 [==============================] - 1s 1ms/step - loss: 1.2005 - accuracy: 0.5250
Epoch 64/100
479/479 [==============================] - 1s 2ms/step - loss: 1.2005 - accuracy: 0.5239
Epoch 65/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1988 - accuracy: 0.5245
Epoch 66/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1986 - accuracy: 0.5243
Epoch 67/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1965 - accuracy: 0.5261
Epoch 68/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1968 - accuracy: 0.5236
Epoch 69/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1962 - accuracy: 0.5242
Epoch 70/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1949 - accuracy: 0.5232
Epoch 71/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1943 - accuracy: 0.5256
Epoch 72/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1931 - accuracy: 0.5270
Epoch 73/100
479/479 [==============================] - 1s 2ms/step - loss: 1.1927 - accuracy: 0.5256
Epoch 74/100
479/479 [==============================] - 1s 2ms/step - loss: 1.1918 - accuracy: 0.5279
Epoch 75/100
479/479 [==============================] - 1s 2ms/step - loss: 1.1908 - accuracy: 0.5311
Epoch 76/100
479/479 [==============================] - 1s 2ms/step - loss: 1.1902 - accuracy: 0.5294
Epoch 77/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1886 - accuracy: 0.5287
Epoch 78/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1883 - accuracy: 0.5271
Epoch 79/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1883 - accuracy: 0.5296
Epoch 80/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1878 - accuracy: 0.5285
Epoch 81/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1874 - accuracy: 0.5282
Epoch 82/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1863 - accuracy: 0.5286
Epoch 83/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1849 - accuracy: 0.5280
Epoch 84/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1849 - accuracy: 0.5282
Epoch 85/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1844 - accuracy: 0.5320
Epoch 86/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1842 - accuracy: 0.5289
Epoch 87/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1830 - accuracy: 0.5313
Epoch 88/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1812 - accuracy: 0.5306
Epoch 89/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1822 - accuracy: 0.5277
Epoch 90/100
479/479 [==============================] - 1s 2ms/step - loss: 1.1810 - accuracy: 0.5330
Epoch 91/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1808 - accuracy: 0.5322
Epoch 92/100
479/479 [==============================] - 1s 2ms/step - loss: 1.1798 - accuracy: 0.5329
Epoch 93/100
479/479 [==============================] - 1s 2ms/step - loss: 1.1785 - accuracy: 0.5343
Epoch 94/100
479/479 [==============================] - 1s 2ms/step - loss: 1.1793 - accuracy: 0.5327
Epoch 95/100
479/479 [==============================] - 1s 2ms/step - loss: 1.1792 - accuracy: 0.5340
Epoch 96/100
479/479 [==============================] - 1s 2ms/step - loss: 1.1779 - accuracy: 0.5360
Epoch 97/100
479/479 [==============================] - 1s 2ms/step - loss: 1.1779 - accuracy: 0.5318
Epoch 98/100
479/479 [==============================] - 1s 1ms/step - loss: 1.1764 - accuracy: 0.5324
Epoch 99/100
479/479 [==============================] - 1s 2ms/step - loss: 1.1752 - accuracy: 0.5311
Epoch 100/100
479/479 [==============================] - 1s 2ms/step - loss: 1.1752 - accuracy: 0.5341

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

160/160 - 0s - loss: 1.2305 - accuracy: 0.5187 - 432ms/epoch - 3ms/step
Loss: 1.2305495738983154, Accuracy: 0.5186924934387207